.welcome-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;

    &__img{
        height:20rem;
    }
}

span{
    color:#4e00ff
}